<div class="list_new">
  <div class="add_list">
    <h1 class= "list_center">Create a new list</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, :label => 'Please enter your list name', :placeholder => 'List name' %>
      <%= f.input :description, :label => 'Please add a list description', :placeholder => 'List description' %>
      <%= f.input :photo, as: :file %>
      <%= f.submit class: 'nav_button_bookmark' %>
    <% end %>

  </div>

</div>
<%= link_to "Back to lists", lists_path, class: 'nav_button_bookmark' %>
