<h1>This is <%= @list.name %> <h1>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <ul class="list-group mb-3">
        <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>     
          <li class="list-group-item">    
            <div class="card-product">
           <%= image_tag movie.poster_url , size: "100x100"%>
            <div class="card-product-infos">
                <h2><%= movie.title %></h2>
                <p>Synopsys: <%= movie.overview%></p>
                <p>My comment: <%=bookmark.comment%>  <p>
                <p>Average rating: <%=movie.rating%>     <p>
                <p> <%= link_to "delete", bookmark, method: "delete", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"} %> </p>
            </div>
            </div>
          </li>
        <% end %>
      </ul>
    <%= link_to "Add a film to the list", new_list_bookmark_path(@list), class: 'btn btn-primary' %>
    </div>
  </div>
  <%= link_to "Return to list menu", lists_path, class: 'btn btn-primary' %>
</div>