<div class="bookmark_new">
    <div class="add_movie">
      <h3 class="bookmark_center">Please add a movie to the <%= @list.name %> list</h3>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, prompt: "Select a movie", input_html: {data: { controller: "tom-select"}} %>
        <%= f.input :comment, placeholder: 'Enter a comment about the movie', class: "bookmark_comment" %>
        <%= f.submit 'Add move to list', class: "nav_button_bookmark" %>
      <% end %>
    </div>
</div>
<div class="return_button">
  <%= link_to "Return to list", list_path(@list), class: 'nav_button' %>
</div>
