
<div class="review_new">
    <div class="add_review">
      <h3 class="bookmark_center">Please create your review below</h3>
      <% @list = List.find(params[:list_id]) %>
      <%= simple_form_for [@review], url:list_reviews_path(@list), method: :post  do |f| %>
      <%# <%= simple_form_for [@list, @review] do |f| %>
        <%= f.input :rating, placeholder: 'Please enter your rating 1-10' %>
        <%= f.input :description, :label => 'Your thoughts about the list', placeholder: 'Enter your thoughts about the list' %>
        <%= f.submit class: "nav_button_bookmark" %>
      <% end %>
    </div>
</div>
<div class="return_button">
  <%= link_to "Return to list", list_path(@list), class: 'nav_button' %>
</div>
