<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
   <script src="https://kit.fontawesome.com/fc11b98403.js" crossorigin="anonymous"></script>
   <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
  </head>

  <% unless @skip_navbar %>

      <div class="banner" style="background-image: url('https://hips.hearstapps.com/thepioneerwoman/wp-content/uploads/2018/05/types-of-popcorn-boxes-2.jpg?resize=1200:*');">
        <div class="container">
          <div class= "banner-header">
            <h1>Welcome to Rupert's<strong> movie saving</strong> app!</h1>
            <p>Organise your movie collection with next level efficinecy</p>
          </div>
        </div>
      </div>

  <% end %>



  <body>
    <%= yield %>
  </body>
</html>
